.header {
  background: linear-gradient(90deg, #cb11ab, #481173);
  padding: 30px;
  color: rgba(255, 255, 255, 0.7);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  margin-bottom: 30px;

  &__in {
    display: flex;
    align-items: baseline;
    gap: 20px;
  }

  &__buttons {
    margin-left: auto;
  }

  &__link {
    position: relative;
    margin-right: 30px;

    &:last-of-type {
      margin-right: 0;
    }
  }
  
  &__counter {
    position: absolute;
    right: -21px;
    top: -10px;
    background: #ff5100;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    border-radius: 50%;
    aspect-ratio: 1/1;
    display: block;
    width: 20px;
    line-height: 20px;
    text-align: center;
    padding: 0;
  
    &:empty {
      display: none;
    }
  }

  a {
    text-decoration: none;

    &:hover {
      color: #fff;
    }
  }

  .logo {
    color: #fff;
  }
}